// Here it goes all the global variables used in the project
// Use @variable_name = value syntax to define variables
$color-primary: #c09c6a
$color-secondary: #cec1a8
$border-color: #584738
$text-color: #55441d
$gradient:  linea-gradient(270deg, #417999, #73f09d) 
$main-contrast: #aaa396




