//here it goes all the global styles used in the project

@import "__variables.sass"

body
    margin: 0
    padding: 0
    background: $color-primary
    color: $text-color
    
main
    background: $color-secondary
    